@charset "UTF-8";

*{ margin: 0; padding: 0; box-sizing: border-box; 
}
div{
	height: 100%;
}
a{text-decoration: none; color: black  }
nav{
	height: 70px;
	display: flex;
}
li{
	float: left;
	list-style: none;
	font-size: 20px;
	padding-top: 20px;
	display: block;
}
.menu ul li{
	margin: 0 15px;
}
/* div{ */
/* 	border-collapse: inherit; */
/* } */
header{height: 70px;}

.logo{
	margin-left: 175px;	
	margin-right: 30px;
}
.menu{
padding-left: 224px;
padding-right: 180px;
}
.right_icon{
}

