@charset "UTF-8";
*{margin: 0 auto; padding: 0; box-sizing: border-box;}

.top_section{
	height: 100px;
	background-color: yellow;
}
.form_section{}

.join_box{
	width: 600px;
	height: 691px;
	border: 1px solid grey;
	padding: 82px 69px;
}
li{
	list-style-type: none;
}
.head{
	display: inline-block;
	width: 130px;
}
.title{
	height: 60px;
}

input{
	width: 300px;
	height: 47px;
}

.submit{
	margin-top: 10px;
	width: 402px;
}